* { margin: 0; padding: 0; box-sizing: border-box; }

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.grid div {
    flex: 1 1 calc(33.33% - 10px);
    background: #aaa;
    padding: 40px;
    text-align: center;
}